*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
/* navigation Style */
.navigation-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: #b3b3b3;
    position: relative;
}
.navigation-container a{
    text-decoration: none;
    color: #FBEAEB;
    cursor: pointer;
    font-size: 20px;
}
.navigation-left img{
    width: 80px;
}
.navigation-right{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}
/* main selector style */
.main-border{
    margin-top: 4rem;
    margin-left: 17rem;
    margin-right: 17rem;
    margin-bottom: 2rem;
    font-size: 20px;
    display: grid;
    gap: 4rem;

}
/* home first style */
.home-first{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}
.home-first-text-button{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.home-first-text-button-button{
    display: flex;
    gap: 100px;
}
.home-first-text-button-button a{
    background-color: #b3b3b3;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.home-first-sliding-image{
    display: flex;
    justify-content: center;
}
/* home second Style */
.home-second{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    /* height: 150px; */
    border-radius: 30px;
    font-size: 40px;
}
.home-second-child{
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
/* home third style */
.home-third{
    display: grid;
    grid-template-rows: 0.5fr 1fr 4fr;
    gap: 1rem;
}
.home-third-img-and-title-p-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.home-third-img-and-title-p{
    display: grid;
    grid-template-rows: 3fr 1fr 2fr;
}
.home-third-img-and-title-p-IMG,
.home-third-img-and-title-p-TITLE{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.home-third-img-and-title-p-P{
    text-align: justify;
}
/* home forth style */
.home-fourth{
    display: grid;
    grid-template-rows: fr 3fr;
    gap: 2rem;
}
.home-fourth-title{
    text-align: center;
}
.home-forth-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}
.home-forth-card{
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: #b3b3b3;
    border-radius: 60px;
}
.home-forth-card-image-name{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}
.home-forth-card-image-name-IMAGE img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid black;
    
}
.home-forth-card-image-name-IMAGE,
.home-forth-card-p{
    padding: 2rem;
}
/* home-fifth */
.home-fifth{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}
.home-fifth-title{
    text-align: center;
}
.home-fourth-title-button{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.home-fourth-title-button a{
    background-color: #b3b3b3;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}