*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li a button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;

}

a:link{
    text-decoration: none;
}
a{
    color: black;
}
a:hover{

}
header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    background-color: #f5f5f7;
}

.logo{
    cursor: pointer;
    
}

.nav_pages li{
    display: inline-block;
    padding: 0 20px;
}

.nav_pages li a {
    transition: all 0.3s ease 0s;
}

.nav_pages li a:hover{
    color: #06c;
}
button{
    padding: 9px 25px;
    background-color: #06c;;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button a:hover{
    color: #f5f5f7;
    
}