*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li a button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;

}

a:link{
    text-decoration: none;
}
a{
    color: black;
}
a:hover{

}
header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px ;
    background-color: #b3b3b3;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_pages li{
    display: inline-block;
    padding: 0 20px;
    margin-left: 50px;
}

.nav_pages li a {
    transition: all 0.3s ease 0s;
}

.nav_pages li a:hover{
    color: #06c;
}
button{
    margin-left: 50px;
    padding: 9px 25px;
    background-color: #06c;;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button a:hover{
    color: #b3b3b3;
    
}
body{
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 100vh;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100x;
    background-color: #b3b3b3;
}
footer .footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .footer-container .sec h2{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;  /*add */
}
footer .footer-container .sec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #06c;
}
footer .footer-container .sec p{
    color: black;
}
.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4 50px);
    grid-gap: 10px;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #06c;
    /* display: grid; */
    align-content: center;
    justify-content: center;
    text-decoration: none;
}